{% extends "shop/base.html" %}
{% block content %}

<h2>Customers</h2>

<table class="table table-striped">
        <thead>
        <th>Id</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Age</th>
        <th>Number</th>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td><a href="/shop/customers/id={{ customer.id }}">{{ customer.id }}</a></td>
                <td>{{ customer.last_name }}</td>
                <td>{{ customer.first_name }}</td>
                <td>{{ customer.age }}</td>
                <td>{{ customer.number }}</td>
            </tr>

        {% endfor %}
        </tbody>

    </table>

{% endblock %}