{% extends "shop/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/index.css' %}"/>
    <section class="index">
        <h1>Shop</h1>
        <section class="choice">
            <a href="{% url 'shop:new' %}">
                <button class="btn btn-primary">New Customer</button>
            </a>
            <a href="{% url 'shop:orders' %}">
                <button class="btn btn-primary">Existing One</button>
            </a>
        </section>
    </section>

{% endblock %}