{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/index.css' %}"/>

<h2>Informations</h2>

<form action="{% url 'shop:save' order.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<section class="price_plan">
    <h3>Price plan chosen</h3>
    <p>{{ pp.code }}</p>
    <ul>
        {% for product in pp.products.all %}
            <li>{{ product.description }}</li>
        {% endfor %}
    </ul>
    <p>Price : {{ pp.get_price }} CHF</p>
</section>
