{% extends "shop/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/index.css' %}"/>

    <div class="priceplans">

        {% for pp in priceplans %}
            <div id="priceplan_single" class="col-md-4">
                <h3>{{ pp }}</h3>

                <ul>
                    {% for product in pp.products.all %}
                        <li>{{ product.description }}</li>
                        {{ product.get_price }}
                    {% endfor %}
                    <p>Price : {{ pp.get_price }} CHF</p>
                </ul>
                <form action="{% url 'shop:infos' pp.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Choose price plan" class="btn btn-success">
                </form>
            </div>
        {% endfor %}

    </div>
{% endblock %}