{% extends "shop/base.html" %}
{% block content %}

<h2>Customers</h2>

<table class="table table-striped">
        <thead>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Age</th>
        <th>Number</th>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td><a href="">Last Name : {{ customer.last_name }}</a></td>
                <td>First Name : {{ customer.first_name }}</td>
                <td>Age : {{ customer.age }}</td>
                <td>Number : {{ customer.number }}</td>
            </tr>

        {% endfor %}
        </tbody>

    </table>

{% endblock %}