html,body{
    height:100%
}
.index{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 5em;
}

.priceplans{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

ul{
    list-style: none;
    padding: 0;
}